{% extends "base.html" %}

{% block content %}
    <table>
        <tr>
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1>User: {% if user.firstname %}{{ user.firstname }}{% else %}{{ user.username }}{% endif %} </h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a> </p>
                {% endif %}
            </td>
        </tr>
    </table>
    
    <hr>
    {% if user.is_admin %}
    <p>User is administrator</p>

    <h3>Locations</h3>
    <table>
        <tr valign="top">
            <th>Name</th>
            <th>Description</th>
            <th>Updated Date</th>
            <th>Updated By</th>
        </tr>
        {% for location in locations %}
            {% include '_location.html' %}
        {% endfor %}    
    </table>
    <hr/>
    <h3>Sensors</h3>
    <table>
        <tr valign="top">
            <th>Serial Nr</th>
            <th>Name</th>
            <th>Type</th>
            <th>Lower Limit</th>
            <th>Upper Limit</th>
            <th>Location</th>
            <th>Updated Date</th>
            <th>Updated By</th>
        </tr>
        {% for sensor in sensors %}
            {% include '_sensor.html' %}
        {% endfor %}    
    </table>
    <hr/>
    <h3>Devices</h3>
	<form action="" method="post">
		{{ dev_form.hidden_tag() }}
		<p>
			{{ dev_form.name.label }}<br/>
			{{ dev_form.name }}<br/>
			{% for error in dev_form.name.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ dev_form.location.label }}<br/>
			{{ dev_form.location }}<br/>
			{% for error in dev_form.location.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ dev_form.description.label }}<br/>
			{{ dev_form.description(cols=50, rows=4) }}<br/>
			{% for error in dev_form.description.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ dev_form.submit() }} </p>
	
	</form>
    <table>
        <tr valign="top">
            <th>Name</th>
            <th>Location</th>
            <th>Description</th>
            <th>Updated Date</th>
            <th>Updated By</th>
        </tr>
        {% for device in devices %}
            {% include '_device.html' %}
        {% endfor %}    
    </table>
    <hr/>
    <h3>Actions</h3>
  	<form action="" method="post">
		{{ act_form.hidden_tag() }}
		<p>
			{{ act_form.name.label }}<br/>
			{{ act_form.name }}<br/>
			{% for error in act_form.name.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ act_form.description.label }}<br/>
			{{ act_form.description(cols=50, rows=4) }}<br/>
			{% for error in act_form.description.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ act_form.submit() }} </p>
	
	</form>
    <table>
        <tr valign="top">
            <th>Name</th>
            <th>Description</th>
            <th>Updated Date</th>
            <th>Updated By</th>
        </tr>
        {% for action in actions %}
            {% include '_action.html' %}
        {% endfor %}    
    </table>
  
    {% else %}
    <p>User is viewer</p>
    {% endif %}

{% endblock %}